.logo {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 32px;
    letter-spacing: 1px;
}


.sidebar nav ul {
    list-style: none;
    width: 100%;
}

.sidebar nav li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 12px;
    min-width: 220px;
    cursor: pointer;
    transition: background 0.2s ease, padding-left 0.2s ease;
}

.sidebar nav li:hover {
    padding-left: 30px;
}

.sidebar-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.sidebar nav li.active {
    background: rgba(200, 200, 200, 0.2);
    padding-left: 3rem;
    margin-right: 15rem;
    border-radius: 8px;
    font-weight: 600;
}

.sidebar nav span {
    font-size: 1rem;
}

.offcanvas-narrow {
    width: 20rem !important;
}

.my-navbar {
    background-color: rgba(200, 200, 200, 0.2) !important;
}